ThemeInfo{
        name: light-standard;
        type: light;
}
ThemeLineNumber{
        background: #eaeaea;
        color: #666666;
}
ThemeHighlighter{
        argumentFont: regular;
        argumentForeground: #fb4934;
        booleanConstantsFont: bold;
        booleanConstantsForeground: #d64d0e;
        bracketsColorHighlight: #d64d0e;
        commentBlockFont: regular;
        commentBlockForeground: #999999;
        commentFont: regular;
        commentForeground: #999999;
        compoundKeywordsFont: bold;
        compoundKeywordsForeground: #d65d0e;
        controlFlowFont: bold;
        controlFlowForeground: #d64d0e;
        defFuncNameFont: bold;
        defFuncNameForeground: #d65d0e;
        digitsFont: regular;
        digitsForeground: #d3869b;
        edgeTagFont: regular;
        edgeTagForeground: #32a9dd;
        escapeCharFont: italic;
        escapeCharForeground: #83a598;
        exceptionHandlingFont: bold;
        exceptionHandlingForeground: #d64d0e;
        friendFont: regular;
        friendForeground: #d65d0e;
        insideTagfont: bold;
        insideTagforeground: #8ec07c;
        integratedFunctionFont: bold;
        integratedFunctionForeground: #b8bb26;
        jumpKeywordsFont: bold;
        jumpKeywordsForeground: #d64d0e;
        keywordsFont: bold;
        keywordsForeground: #d65d0e;
        loopKeywordsFont: bold;
        loopKeywordsForeground: #d64d0e;
        methodNameFont: bold;
        methodNameForeground: #b8bb26;
        modifiersFont: bold;
        modifiersForeground: #d64d0e;
        namesArgsFont: regular;
        namesArgsForeground: #83a598;
        namespaceFont: bold;
        namespaceForeground: #d65d0e;
        objectFont: regular;
        objectForeground: #b8bb26;
        operatorsFont: bold;
        operatorsForeground: #83a598;
        preprocessorFont: regular;
        preprocessorForeground: #427b58;
        qtWordsFont: regular;
        qtWordsForeground: #d65d0e;
        stringFont: regular;
        stringForeground: #fabd2f;
        syntaxDefinitionFont: regular;
        syntaxDefinitionForeground: #8ec07c;
        tagsFont: bold;
        tagsForeground: #8ec07c;
        templateFont: regular;
        templateForeground: fuchsia;
        thisFont: bold;
        thisForeground: #fb4934;
        typeKeywordsFont: regular;
        typeKeywordsForeground: #d64d0e;
}
GraphicsItem{
        background-color: #f3f3f3;
        border: none;
        color: #555;
}
GraphicsView{
        background-color: #f3f3f3;
        border-color: #da3;
        color: #555;
}
ImageViewer{
        background-color: #f3f3f3;
}
QAbstractItemModel{
        border: none;
}
QCheckBox{
        background-color: #f3f3f3;
        color: #f44;
        font-family: Lato Medium;
        font-size: 12px;
}
QCheckBox::!enabled{
        color: gray;
        font-family: Lato Medium;
        font-size: 12px;
}
QCheckBox::indicator:checked{
        background-color: #f9f5d7;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #3c3836;
        height: 16px;
        image: url(":/images/icons/black/checkmark_icon&16.png");
        width: 16px;
}
QCheckBox::indicator:checked:!enabled{
        background-color: gray;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #3c3836;
        height: 16px;
        image: url(":/images/icons/black/checkmark_icon&16.png");
        width: 16px;
}
QCheckBox::indicator:unchecked{
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #3c3836;
        height: 16px;
        width: 16px;
}
QCheckBox::indicator:unchecked:hover{
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #3c3836;
        height: 16px;
        width: 16px;
}
QComboBox{
        background-color: #f3f3f3;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #555;
        font-size: 12px;
}
QComboBox QAbstractItemView{
        background-color: #efefef;
        color: #555;
        selection-background-color: #e0e0e0;
        selection-color: #444;
}
QComboBox:!editable{
        background-color: #f3f3f3;
        color: #555;
        selection-background-color: #f0f0f0;
        selection-color: #444;
}
QComboBox::drop-down:editable{
        background-color: #f3f3f3;
        color: #555;
        selection-background-color: #f0f0f0;
        selection-color: #444;
}
QComboBox:!enabled{
        background-color: #f3f3f3;
        color: #888;
        font-size: 12px;
}
QComboBox::down-arrow{
        border: none;
        image: url(":/images/icons/black/arrow_bottom_icon&16.png");
        width: 12px;
}
QComboBox::drop-down{
        background-color: #dcdcdc;
        border: none;
        border-width: 1px;
        width: 24px;
}
QComboBox::drop-down:!enabled{
        background-color: #eee;
        border: none;
        width: 24px;
}
QComboBox::drop-down:editable{
        background-color: #dcdcdc;
}
QDialog{
        background-color: #f3f3f3;
        font-family: Lato Medium;
        font-size: 12px;
}
QGraphicsItem{
        background: #f3f3f3;
}
QGraphicsTextItem{
        background-color: #f3f3f3;
        color: #555;
}
QGraphicsView{
        background: #f3f3f3;
        border: none;
}
QGroupBox{
        background-color: #f3f3f3;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #999999;
        font-size: 12px;
        margin-top: 1ex;
}
QHeaderView::section{
        background-color: #eeeeee;
        border: none;
        color: #555555;
        font-family: Lato Medium;
        font-size: 12px;
        padding-bottom: 3px;
        padding-left: -5px;
        padding-top: 7px;
}
HexEdit{
        background-color: #f3f3f3;
        color: #555555;
        font-family: FiraMono Nerd Font;
}
QLabel{
        color: #555;
        font-family: Lato Medium;
        font-size: 12px;
}
QLabel::!enabled{
        color: #444;
        font-family: Lato Medium;
        font-size: 12px;
}
QLineEdit{
        background-color: #f3f3f3;
        border-bottom-width: 2px;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #555;
}
QLineEdit:!enabled{
        background-color: #f0f0f0;
        border-bottom-width: 2px;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: gray;
        font-family: Lato Medium;
        font-size: 12px;
}
QLineEdit:focus{
        background-color: #f3f3f3;
        border-bottom-style: 2px;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #555;
        font-family: Lato Medium;
        font-size: 12px;
}
QLineEdit:!focus{
    color: #666666
}
QWidget{
        background-color: #f3f3f3;
        border-color: #dcdcdc;
        border-style: solid;
}
QStackedWidget{
        background-color: #f3f3f3;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #3c3836;
        font-family: Lato Medium;
        font-size: 12px;
}
QListView{
        background-color: #f3f3f3;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #3c3836;
        font-family: Lato Medium;
        font-size: 12px;
        outline: 0;
        selection-background-color: transparent;
        selection-color: transparent;
        show-decoration-selected: 1;
}
QListView::item:focus{
        background-color: #cbcbcb;
        color: #787878;
}
QListView::item:hover{
        background-color: #e1e1e1;
        color: #787878;
        font-family: Lato Medium;
        font-size: 12px;
}
QListView::item:selected{
        background-color: #cbcbcb;
        color: #787878;
        font-family: Lato Medium;
        font-size: 12px;
}
QMdiArea{
        border: none !important;
}
QMenu{
        background-color: #f3f3f3;
        color: #666666;
        font-family: Lato Medium;
        font-size: 12px;
        padding: 0px;
}
QMenu::item:disabled{
        color: grey;
}
QMenu::item:selected{
        background-color: #d0d0d0;
        color: #3c3836;
}
QMenuBar{
        background-color: #f3f3f3;
        color: #555;
        font-family: Lato Medium;
        font-size: 12px;
}
QMenuBar::item:disabled{
        color: grey;
}
QMenuBar::item:selected{
        background-color: #d0d0d0;
        color: #555;
        font-family: Lato Medium;
        font-size: 12px;
}
QMessageBox{
        background-color: #f0f0f0;
        color: #555;
        font-family: Lato Medium;
        font-size: 12px;
}
QMessageBox QLabel{
        color: #555;
        font-family: Lato Medium;
        font-size: 12px;
}
QMessageBox QPushButton{
        color: #555;
        font-family: Lato Medium;
        font-size: 12px;
        height: 30px;
        width: 80px;
}
QPlainTextEdit{
        border: none;
}
QPushButton{
        background-color: #dcdcdc;
        border: none;
        color: #555;
        font-family: Lato Medium;
        font-size: 12px;
}
QPushButton#ImageViewerToolbar_roundButton{
        border: none;
}
QPushButton#ImageViewerToolbar_squareButton{
        border: none;
}
QPushButton#btnSplitForFileManager{
        border: none;
        qproperty-icon: url(":/images/icons/black/arrow_right_icon&16.png");
        width: 30px;
}
QPushButton#widgetBtnClose{
        border: none;
        qproperty-icon: url(":/images/icons/black/delete_icon&16.png");
}
QPushButton:!enabled{
        background-color: #eee;
        color: gray;
        font-family: Lato Medium;
        font-size: 12px;
}
QPushButton:hover{
        background-color: #aaa;
        color: #555;
        font-family: Lato Medium;
        font-size: 12px;
}
QPushButton:pressed{
        background-color: #9f9f9f;
        color: #555;
        font-family: Lato Medium;
        font-size: 12px;
}
QRadioButton{
        background-color: #fbf1c7;
        color: #3c3836;
        font-family: Lato Medium;
        font-size: 12px;
}
QRadioButton::indicator:checked{
        background-color: #f0f0f0;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #555;
        height: 16px;
        image: url(":/images/icons/black/round_icon&16.png");
        width: 16px;
}
QRadioButton::indicator:unchecked{
        background-color: #fbf1c7;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #3c3836;
        height: 16px;
        width: 16px;
}
QRadioButton::indicator:unchecked:hover{
        background-color: #f0f0f0;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #555;
        height: 16px;
        width: 16px;
}
QScrollBar{
        background-color: #555;
}
QScrollBar::add-line:horizontal{
        width: 0px;
}
QScrollBar::add-line:vertical{
        height: 0px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal{
        background-color: #eaeaea;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical{
        background-color: #eaeaea;
}
QScrollBar::handle:horizontal{
        background-color: #d0d0d0;
        border: none;
        min-width: 0px;
}
QScrollBar::handle:vertical{
        background-color: #d0d0d0;
        border: none;
        min-height: 20px;
        width: 10px;
}
QScrollBar::sub-line:horizontal{
        width: 0px;
}
QScrollBar::sub-line:vertical{
        height: 0px;
}
QScrollBar:horizontal{
        background-color: #d0d0d0;
        border: none;
        height: 15px;
        margin: 0px 0px 0px 0px;
}
QScrollBar:vertical{
        background-color: #f0f0f0;
        border: none;
        margin: 0px 0px 0px 0px;
        width: 15px;
}
QSlider::groove:horizontal{
        background-color: #f3f3f3;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        height: 5px;
}
QSlider::handle:horizontal{
        background-color: gray;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        height: 5px;
        margin: -5px 0;
        width: 10px;
}
QSlider::handle:horizontal:!enabled{
        background-color: gray;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        height: 5px;
        margin: -5px 0;
        width: 10px;
}
QSlider::sub-page:horizontal{
        background-color: none;
}
QSlider::sub-page:horizontal:!enabled{
        background-color: gray;
        border: 1px solid gray;
        border-color: #dcdcdc;
}
QSplitter {
    background-color: #ddd;
}
QSplitter::handle{
        background-color: #ddd;
}
QTabBar{
        background-color: #f3f3f3;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: #dcdcdc;
        font-family: Lato Medium;
        font-size: 12px;
        height: 30px;
}
QTabBar QToolButton {
        border:none;
        background-color:#f0f0f0;
        color:#0f0f0f;
}
QTabBar::scroller {
        color:#0f0f0f;
}
QTabBar::tab{
        background-color: #dedede;
        border: none;
        color: #999999;
        font-family: Lato Medium;
        font-size: 12px;
        height: 30px;
        padding-left: 5px;
}
QTabBar::tab:selected{
        background-color: #eaeaea;
        border: none;
        color: #555555;
        font-family: Lato Medium;
        font-size: 12px;
        height: 30px;
}
QTabBar:close-button{
        image: url(":/images/icons/black/delete_icon&16.png");
        margin-left: 5px;
        margin-right: 5px;
        position: absolute;
        top: 2px;
}
QTabBar:close-button:hover{
        background-color: #fbf1c7;
        image: url(":/images/icons/black/delete_icon&16.png");
}
QTabBar:close-button:hover:selected{
        background-color: #ddd;
        image: url(":/images/icons/black/delete_icon&16.png");
}
QTabWidget::pane{
        border-bottom: 2px solid red;
}
QTableView{
        background-color: #f3f3f3;
        color: #666666;
}
QTreeView{
        background-color: #f3f3f3;
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        color: #3c3836;
        font-family: Lato Medium;
        font-size: 12px;
        outline: 0;
        selection-background-color: transparent;
        selection-color: transparent;
        show-decoration-selected: 1;
}
QTreeView::item:focus{
        background-color: #cbcbcb;
        color: #787878;
}
QTreeView::item:hover{
        background-color: #e1e1e1;
        color: #787878;
        font-family: Lato Medium;
        font-size: 12px;
}
QTreeView::item:selected{
        background-color: #cbcbcb;
        color: #787878;
        font-family: Lato Medium;
        font-size: 12px;
}
TextEdit{
        background-color: #f3f3f3;
        color: #555555;
        font-family: Courier New;
        font-size: 10px;
        selection-background-color: #ddd;
        selection-color: #444;
}
nixConsole{
        background-color: #f9f9f9;
        border: none;
        border-color: #f3f3f3;
        border-style: solid;
        border-width: 1px;
        color: #555;
        font-size: 10px;
}
winConsole{
        background-color: #f9f9f9;
        border: none;
        border-color: #f3f3f3;
        border-style: solid;
        border-width: 1px;
        color: #555;
        font-size: 10px;
}
